.post{
    margin: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.post:hover{
    transform: scale(1.05);
}

.bird{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.text{
    color: #ffff;
    font-size: 12px;
    font-weight: 200;
    margin-top: 5px;
    width: 70%;
}
.name{
    color: #ffff;
    margin-top: 10px;
    font-size: 25px;
}
.flex{
    display: flex;
    align-items: center;
    color: #1d70bb !important;
    margin-top: 10px;
}

.likes{
    font-size: 22px;
    margin-right: 2px;
}